/* styles.css */
.my-blue-class {
  color: blue;
}

.my-another-class {
  font-size: 20px;
}

.my-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0;
}

.my-list {
  list-style-type: none;
}

.my-input {
  width: 30%;
  padding: 12px 20px;
  border-radius: 18px;
  margin: 8px 0;
  /* box-sizing: border-box; */
  border: 2px solid transparent;
  background-color: wheat;
  color: rgb(118, 18, 18);
  font-size: 25px;
  font-family: 'Open Sans', serif;
}

.container {
  font-family: 'Times New Roman', Times, serif;
}

.my-input:focus {
  outline: none; /* Removes the focus outline */
  border: none; /* Ensures no border appears on focus */
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 18px; /* Rounded corners */
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  color: white;
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  /* background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%); */
  opacity: 0.7;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: translateY(2px);
}


.my-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px black;
  border-radius: 8px;
  font-size: 30px;
}

/*  from figma */

/* #content-container { display: block; position: relative; width: 1920px; height: 1067px; overflow: hidden; display: block; 
   /* margin-left: auto; margin-right: auto; */
    /* background-color: rgb(208, 170, 100)} */ 

    /* #FFAA64 - A vibrant, deep orange.
    #FFC882 - A medium, warm orange.
    #FFE6A0 */

#content-container {
  display: block;
  /* display: flex; */
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(234, 202, 143);
  width: 100%;
  /* TODO: how to make it go to the bottom ?   */
  height: 1920px;
  font-family: monospace;
  /* height: 100%; */
}

#footer_variant2 {
  position: absolute;
  padding-left: 40%;
	bottom: 0px;
	width: 100%; 
	height: 109px;
  background: linear-gradient(to right, #FFAA64, #FFC882, #FFE6A0);
  /* background-color: rgb(247, 198, 108); */
}

.my-simple-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  /* box-sizing: border-box; */
  border: 1px solid white;
  /* background: linear-gradient(to left, #FFAA64, #FFC882, #FFE6A0) no-repeat scroll 7px 7px, url('../../dist/assets/lupe.png') no-repeat scroll right 20px center; */
  background: linear-gradient(to left, #FFAA64, #FFC882, #FFE6A0); 
  color: rgb(118, 18, 18);
  font-size: 20px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: monospace;
  /* font-family: Arial, sans-serif; */
  /* font-family: 'Open Sans', serif; */
}

.my-simple-input:focus,
.my-simple-input:active,
.my-simple-input:hover,
.my-simple-input:visited
 {
  border: 1px solid white !important; /* Keeps the border white on focus */
  outline: none !important; /* Removes the focus outline */
}

.my-simple-input input {
  border: none; /* Ensures no border appears on focus */
  background: transparent; /* Ensures the input is transparent */
  outline: none; 
  color: inherit; /* Inherit the color of the parent */
  font-size: inherit; /* Inherit the font size of the parent */
  font-family: inherit; /* Inherit the font family of the parent */
  width: 100%; /* Take up the full width of the container */

}


.input-icon {
  /* TODO: UNDERSTAND position relative and absolute */
  /* position: relative; Position the icon absolutely within the container*/
  margin-left: 30px;
  /* top: 25%; /* Center vertically */
  /* right: 60px; /* Distance from the right edge of the input field */
  /* transform: translateY(-40%); Ensure it's centered no matter the height of the icon */
  /* height: 40px; Or the size you need */
  /* width: 40px; Maintain aspect ratio */
  /* pointer-events: none; Ensures the icon doesn't interfere with the input */
}

/* border: 2px solid white !important; /* Force the border to remain white */
/* outline: none !important;  */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items to the start of the container */
  height: 100vh; /* Take up the full height of the viewport */
  padding-top: 5vh; /* Adjust this value to control how far down from the top the input appears */
}

.curtain {
  position: absolute;
  top: 2vh;
  bottom: 30vh;
  border-radius: 20px;
  border: 1px solid white;
  padding-top: 20px;
  padding-left: 30px;
  /* right: 3%; */
  left: 46%;
  width: 53%;
  height: 80%;
  backdrop-filter: blur(5px);
  /* font-family: inherit; */
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to left, #FFAA64, #FFC882, #FFE6A0); */
  background: linear-gradient(to left, rgba(255, 170, 100, 0.5), rgba(255, 200, 130, 0.5), rgba(255, 230, 160, 0.5));
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background: linear-gradient(to left, #FFAA64, #FFC882, #FFE6A0); */
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: brown;
  transition: transform 0.8s ease-out; /* Animate the movement */
}

.curtain-move-right {
  transform: translateX(100%);
}

.curtain:hover {
  background: linear-gradient(to left, #FFAA64, #FFC882, #FFE6A0);

}

