/*   INPUT-BAR  */

.input-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  top: 15vh;
  left: 15%;
  justify-content: space-between;
  width: 70%;
  padding: 12px 20px;
  border-radius: 4px;
  margin: 8px 0;
  border: 1px solid grey;
  background: linear-gradient(to left, #CBCBCD, #DDDDDF, #FFFFFF);
  color: rgb(118, 18, 18);
  font-size: 40px;
  font-family: monospace;
}


.input-bar:focus,
.input-bar:active,
.input-bar:hover,
.input-bar:visited {
  border: 1px solid grey !important;
  outline: none !important;
}

.input-bar input {
  border: none;
  background: transparent;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  width: 100%;
}

/*    RESULTS-BAR      */

.results-bar {
  margin-top: 1%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25vh;
  left: 20%;
  width: 60%;
  font-size: 60px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}


/*  E-NUMBER CARD */

.e-number-card .sources {
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.e-number-card {
  width: 100%;
  height: 1.2em;
  display: block;
  overflow: hidden;
  opacity: 0.8;
  /* border: 1px solid grey; */
  /* border-radius: 4px; */
  /* margin-top: 5px; */
  margin-left: 10px;
  /* margin-right: 10px; */
  margin-top: 10px;
  /*margin-right: 10px; */
  margin-bottom: 10px;
  /* padding: 10px; */
  padding-left: 10px;
  line-height: 1.2em;
  transition: all 0.7s ease; 
  transition: height 0.7s ease;
  font-size: 40px;
  font-family: monospace;
  font-weight: 700;
}

.e-number-card:hover .sources {
  visibility: visible;
  font-size: 0.8em;
  /* text-align: center; */
  /* opacity: 1; */
}
.e-number-card:hover {
  opacity: 1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  height: 10em;
}

@media (hover: none) {
  .e-number-card:active {
    opacity: 1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}


/*       CURTAIN         */

.curtain {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  top: 1vh;
  border-radius: 15px;
  border: 1px solid grey;
  left: 30%;
  width: 70%;
  height: 100%;
  backdrop-filter: blur(5px);
  font-family: inherit;
  background: linear-gradient(to left, rgba(185, 185, 187, 0.5), rgba(203, 203, 205, 0.5), rgba(221, 221, 223, 0.5));
  color: brown;
  transition: transform 0.8s ease-out;
  /* Animate the movement */
}

.curtain-move-right {
  transform: translateX(100%);
}


/*     FOOTER     */

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  bottom: 0;
  width: 100%;
  height: 7%;
  border: solid 1px grey;
  background: radial-gradient(circle, #B9B9BB, #CBCBCD, #DDDDDF, #FFFFFF);
  padding: 20px;
}

.footer-text {
  font-size: 1em;
  margin: 0;
  color: brown;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: brown;
  margin-top: 20px
}

.resources {
  padding: 0.8em;
  font-size: 0.8em;
}